<%- include('./partials/header') -%>

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><%- req.webdata.sitename %> /</span> Chat</h4>

<div class="card alert alert-warning" id="reset">
  TIP : Click on the username to chat to them<br>
  TIP : You can create a group dm by clicking on the create group button
</div>

<div class="row">
  <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
    <div class="card">

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" id="search" class="form-control" placeholder="Search Username" aria-label="Search Username" aria-describedby="basic-addon1">
        <div class="input-group-append">
          <span class="input-group-text bg-label-primary">
            <a class="text-decoration-none text-white" href="/chat/group/create">
              Create Group
            </a>
          </span>
        </div>
      </div>

      <ul id="list" class="list-group list-group-flush">
        <% if (users.length == 0) { %>
        <li class="list-group-item">
          No friends found. Add some friends to chat with them.
        </li>
        <% } %>
        <% users.forEach(user => { 
        if (user == req.session.user.username) return; %>
        <li class="list-group-item">
          <a href="/chat/<%= user %>">
            <%= user %>
          </a>
        </li>
        <% }) %>
      </ul>

      <script>
        $(document).ready(function() {
          $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#list li").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
      </script>
    </div>
  </div>
</div>

<%- include('./partials/footer'); -%>