<%- include('../partials/header') -%>

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><%- req.webdata.sitename %> / Chat / Group /</span> Create</h4>

<div class="row">
  <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2">
    <div class="card p-4">
      <h3 class="text-center">Create Group</h3>
      <form method="POST">
        <div class="form-group">
          <label for="name">Group Name:</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter group name">
        </div>
        <div class="form-group">
          <label for="name">Visibility:</label>
          <select class="form-select" name="vis" id="vis">
            <option value="inv">Friends Only</option>
            <option value="link">Public Link</option>
            <option value="glo">Globally Searchable</option>
          </select>
        </div>
        <div class="form-group">
          <label for="users">Members: </label>

          <script type="text/javascript">
            $('#example-multiple-selected').multiselect();
          </script>

          <select class="multiselect" id="example-multiple-selected" name="users" multiple="multiple">
            <% users.forEach(user => { %>
              <option value="<%= user %>"><%= user %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group mb-0">
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer'); -%>